<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>

<header th:replace="~{fragments/header}"></header>
<!--<img class="card-image-top img-fluid img-thumbnail"-->
     <!--th:src="|${!#strings.isEmpty(*{thumbnail})} ? *{thumbnail} : https://i.ytimg.com/vi/${trailer}/maxresdefault.jpg|">-->
<main th:replace="~{${view}}"></main>

<footer th:replace="~{fragments/footer}"></footer>

<span th:insert="~{fragments/scripts-bundle}"></span>

</body>
</html>