<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <form method="post" th:object="${whiskeyBindingModel}" th:fragment="whiskey-form">
        <div class="form-group row" th:classappend="${#fields.hasErrors('name')} ? 'has-danger'">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-danger" id="inputName"
                       placeholder="Jameson" th:field="*{name}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('name')}" th:text="${error}">Sorry, that name is invalid</div>
            </div>
        </div>
        <div class="form-group row" th:classappend="${#fields.hasErrors('price')} ? 'has-danger'">
            <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input type="text" step="0.01" min="0" class="form-control form-control-danger" id="inputPrice"
                       placeholder="eg 15.20" th:field="*{price}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('price')}" th:text=" ${error}">Sorry, that price is invalid</div>
            </div>
        </div>
        <input type="submit" class="btn btn-default" value="Add"/>
    </form>
</body>
</html>